@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    position: sticky;
    top: 0;
    margin: 0;
    color: rgb(46, 16, 196);
    font-size: 1rem;
}

.container-fluid{
    list-style-type: none;
    grid-gap: 80px;
    font-family:'Nunito', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;    
}
.main{
    padding: 1rem;
}

.titulo{
    color: rgba(11, 64, 221, 0.856);
}

.logo {
    width: 100px;
}

.carousel-inner{
    display: flex;
    justify-content: space-around;
    background-color: rgb(41, 125, 178);
    gap: 80px;
}

.carousel-item{
    width: 700px;
}

.carousel-control-prev{
    align-items: center;   
}

.carousel-control-next{
    align-items: center;
}

.form{
    display:grid;
    justify-content: space-around;
    padding: 2rem;
}

 .redes {
   display: inline;
   margin-left: 1rem;
 
 }
 .direcel{
    display: flex;
    justify-content: center;
   
 }
.redes-titulo{
    padding: 1.5rem;  
    margin-top: 1rem;
}

